<div class="container">
    
    <div class="img">

        
        <div class="mb-3 col-3 card">
            <form #form="ngForm"  class="mt-5 bg-light " >
                <div>
                    
                <label class="form-label "><h3>Add Location</h3></label>
                <input  id="Location" type="text"ngModel #Location="ngModel" name="Location"  class="form-control" type="text" required >
            
                <div class="text-danger mt-2" *ngIf="Location.errors && Location.touched">
                    <div *ngIf="Location.errors?.['required']">Location is required</div>
            
                </div>
                </div>
                
                <div class="mt-4 d-grid gap-4 col-3 row">
                    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
                </div>
               
                
            </form>
        </div>
        
    </div>


</div>
